.paging-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.prev-next-button{
	border-radius: 10px;
	margin:0 5px
}

.page-button {
	margin: 3px 5px;
	border-radius: 10px;
	font-size: 17px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}

.active-page {
	margin: 3px 5px;
  border-radius: 10px;
	font-size: 17px;
	font-weight: bold;
	border: none;
  background-color: rgb(139, 139, 139)
}
